<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>16095479252-3vsln2qp5ltv8cclpcn5chfb53qu2cnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16095479252-3vsln2qp5ltv8cclpcn5chfb53qu2cnd</string>
	<key>API_KEY</key>
	<string>AIzaSyAtRzP15jlWpXPsTahq4iXE4rqXeaGa8Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>16095479252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AC.Climbing</string>
	<key>PROJECT_ID</key>
	<string>climbing-c4452</string>
	<key>STORAGE_BUCKET</key>
	<string>climbing-c4452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:16095479252:ios:772bc8d226460ed4</string>
	<key>DATABASE_URL</key>
	<string>https://climbing-c4452.firebaseio.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
